In [2]:
import pandas as pd



df = pd.read_json("Mappa-dei-pub-circoli-locali-in-Italia.json", encoding= "latin1")

"""
    ‚Ä¢ quanti dati ci sono in totale? 
    ‚Ä¢ quali sono i metadati? 
    ‚Ä¢ stampiamo il primo elemento 
    ‚Ä¢ stampiamo l'ultimo elemento 
    ‚Ä¢ riusciamo a stampare un elemento a caso? 
    ‚Ä¢ quali sono gli anni di inserimento presenti? 
"""

print(df)

print(df.shape)
print(df.info())
print(df.head(1))
print(df.tail(1))
print(df.sample())
print("Anni records: ", sorted(df["canno_inserimento"].unique()))

             ccomune             cprovincia  cregione            cnome  \
0              ALTRO                  ALTRO     ALTRO
1              ALTRO                  ALTRO     ALTRO      Lenny's Pub
2              ALTRO                  ALTRO     ALTRO  Murrayfield Pub
3              ALTRO                  ALTRO     ALTRO           Snop?e
4       Ala di Stura                 TORINO  Piemonte
...              ...                    ...       ...              ...
2492   Barletta (BT)  BARLETTA ANDRIA TRANI    Puglia      Santa Croce
2493  Bisceglie (BT)  BARLETTA ANDRIA TRANI    Puglia      Auld Dublin
2494  Bisceglie (BT)  BARLETTA ANDRIA TRANI    Puglia            Ferus
2495      Trani (BT)  BARLETTA ANDRIA TRANI    Puglia          Re Art√π
2496      Trani (BT)  BARLETTA ANDRIA TRANI    Puglia     Well's Fargo

      canno_inserimento cdata_e_ora_inserimento  \
0                  2011    2011-06-25T23:17:43Z
1                  2011    2011-07-29T17:22:56Z
2                  2015    2015-10-24T09:28:06Z
3                  2010    2010-09-22T08:32:52Z
4                  2012    2012-05-21T14:28:45Z
...                 ...                     ...
2492               2010    2010-01-17T16:15:08Z
2493               2014    2014-03-03T20:56:16Z
2494               2014    2014-01-07T19:22:18Z
2495               2009    2009-09-04T07:57:05Z
2496               2009    2009-08-10T12:44:03Z

      cidentificatore_in_openstreetmap  clongitudine  clatitudine
0                           1339088150     13.733257    45.575830
1                           1375887295     12.418681    46.747584
2                           3323888102      9.029585    45.831340
3                            921157802     13.640939    45.954607
4                           1760949034      7.307306    45.313150
...                                ...           ...          ...
2492                         615632993     16.285782    41.320671
2493                        2613737619     16.497204    41.241814
2494                        2613737620     16.506175    41.240957
2495                         482836935     16.418124    41.281518
2496                         387223648     16.436765    41.267264

[2497 rows x 9 columns]
(2497, 9)
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2497 entries, 0 to 2496
Data columns (total 9 columns):
 #   Column                            Non-Null Count  Dtype
---  ------                            --------------  -----
 0   ccomune                           2497 non-null   object
 1   cprovincia                        2497 non-null   object
 2   cregione                          2497 non-null   object
 3   cnome                             2497 non-null   object
 4   canno_inserimento                 2497 non-null   int64
 5   cdata_e_ora_inserimento           2497 non-null   object
 6   cidentificatore_in_openstreetmap  2497 non-null   int64
 7   clongitudine                      2497 non-null   float64
 8   clatitudine                       2497 non-null   float64
dtypes: float64(2), int64(2), object(5)
memory usage: 175.7+ KB
None
  ccomune cprovincia cregione cnome  canno_inserimento  \
0   ALTRO      ALTRO    ALTRO                     2011

  cdata_e_ora_inserimento  cidentificatore_in_openstreetmap  clongitudine  \
0    2011-06-25T23:17:43Z                        1339088150     13.733257

   clatitudine
0     45.57583
         ccomune             cprovincia cregione         cnome  \
2496  Trani (BT)  BARLETTA ANDRIA TRANI   Puglia  Well's Fargo

      canno_inserimento cdata_e_ora_inserimento  \
2496               2009    2009-08-10T12:44:03Z

      cidentificatore_in_openstreetmap  clongitudine  clatitudine
2496                         387223648     16.436765    41.267264
      ccomune cprovincia             cregione      cnome  canno_inserimento  \
832  Vipiteno    BOLZANO  Trentino-Alto Adige  Bar Jolly               2011

    cdata_e_ora_inserimento  cidentificatore_in_openstreetmap  clongitudine  \
832    2011-09-23T07:37:17Z                         931773095      11.43094

     clatitudine
832    46.889326

,ccomune,cprovincia,cregione,cnome,canno_inserimento,cdata_e_ora_inserimento,cidentificatore_in_openstreetmap,clongitudine,clatitudine
0,ALTRO,ALTRO,ALTRO,,2011,2011-06-25T23:17:43Z,1339088150,13.733257,45.575830
1,ALTRO,ALTRO,ALTRO,Lenny's Pub,2011,2011-07-29T17:22:56Z,1375887295,12.418681,46.747584
2,ALTRO,ALTRO,ALTRO,Murrayfield Pub,2015,2015-10-24T09:28:06Z,3323888102,9.029585,45.831340
3,ALTRO,ALTRO,ALTRO,Snop?e,2010,2010-09-22T08:32:52Z,921157802,13.640939,45.954607
4,Ala di Stura,TORINO,Piemonte,,2012,2012-05-21T14:28:45Z,1760949034,7.307306,45.313150
...,...,...,...,...,...,...,...,...,...
2492,Barletta (BT),BARLETTA ANDRIA TRANI,Puglia,Santa Croce,2010,2010-01-17T16:15:08Z,615632993,16.285782,41.320671
2493,Bisceglie (BT),BARLETTA ANDRIA TRANI,Puglia,Auld Dublin,2014,2014-03-03T20:56:16Z,2613737619,16.497204,41.241814
2494,Bisceglie (BT),BARLETTA ANDRIA TRANI,Puglia,Ferus,2014,2014-01-07T19:22:18Z,2613737620,16.506175,41.240957
2495,Trani (BT),BARLETTA ANDRIA TRANI,Puglia,Re Art√π,2009,2009-09-04T07:57:05Z,482836935,16.418124,41.281518
2496,Trani (BT),BARLETTA ANDRIA TRANI,Puglia,Well's Fargo,2009,2009-08-10T12:44:03Z,387223648,16.436765,41.267264

In [3]:
"""
    ‚Ä¢ quante attivit√† ci sono nel quadrato di longitudine 9-10 e latitudine 45-46? 
"""

print(df[((df["clongitudine"]>= 9) & (df["clongitudine"]<= 10)) & ((df["clatitudine"]>= 45) & (df["clatitudine"]<= 46))].count())

ccomune                             303
cprovincia                          303
cregione                            303
cnome                               303
canno_inserimento                   303
cdata_e_ora_inserimento             303
cidentificatore_in_openstreetmap    303
clongitudine                        303
clatitudine                         303
dtype: int64

In [9]:
print(df[df["cprovincia"] == "VICENZA"].count())

                 ccomune cprovincia cregione                    cnome  \
966               Asiago    VICENZA   Veneto                 Ghel Pab
967               Asiago    VICENZA   Veneto           Maddarello 2.0
968               Asiago    VICENZA   Veneto           Vecchio Mulino
969   Bassano del Grappa    VICENZA   Veneto                Al Porton
970   Bassano del Grappa    VICENZA   Veneto            Bar San Marco
...                  ...        ...      ...                      ...
1034             Vicenza    VICENZA   Veneto              Bar Carioca
1035             Vicenza    VICENZA   Veneto                Irish pub
1036             Vicenza    VICENZA   Veneto          Miles Davis Pub
1037             Vicenza    VICENZA   Veneto          Night Club Boys
1038             Vicenza    VICENZA   Veneto  Sir William Wallace Pub

      canno_inserimento cdata_e_ora_inserimento  \
966                2015    2015-08-10T16:56:06Z
967                2015    2015-08-11T18:37:19Z
968                2015    2015-07-22T19:05:06Z
969                2011    2011-09-13T17:26:02Z
970                2011    2011-10-12T09:43:56Z
...                 ...                     ...
1034               2011    2011-02-06T01:57:15Z
1035               2014    2014-04-08T21:12:13Z
1036               2009    2009-06-10T15:37:50Z
1037               2013    2013-02-26T17:26:30Z
1038               2009    2009-10-23T10:35:24Z

      cidentificatore_in_openstreetmap  clongitudine  clatitudine
966                         3689864850     11.510021    45.872548
967                         3692023938     11.515876    45.898111
968                         3662135148     11.508650    45.873810
969                         1402624430     11.732132    45.767777
970                         1463795447     11.745629    45.765352
...                                ...           ...          ...
1034                         612198399     11.542473    45.554192
1035                        2778358041     11.566676    45.564782
1036                         418297776     11.549959    45.591108
1037                        1423267887     11.506844    45.530566
1038                         534233736     11.545913    45.550041

[73 rows x 9 columns]

In [11]:
"""
    ‚Ä¢ quante attivit√† ci sono nella provincia di Vicenza? 
"""
print(df[df["cprovincia"] == "VICENZA"].count())

ccomune                             73
cprovincia                          73
cregione                            73
cnome                               73
canno_inserimento                   73
cdata_e_ora_inserimento             73
cidentificatore_in_openstreetmap    73
clongitudine                        73
clatitudine                         73
dtype: int64

In [12]:
"""
    quante enoteche ci sono, e come si chiamano? 
"""    

print(df[df["cnome"].str.contains("Enoteca")])

                  ccomune cprovincia        cregione  \
64                 Torino     TORINO        Piemonte
493                Milano     MILANO       Lombardia
1000                 Malo    VICENZA          Veneto
1472              Ferrara    FERRARA  Emilia-Romagna
1473              Ferrara    FERRARA  Emilia-Romagna
1704  CASCIANA TERME LARI       PISA         Toscana

                              cnome  canno_inserimento  \
64    Enoteca con Cucina""Tirolin""               2012
493               Concordia Enoteca               2014
1000                Enoteca Umberto               2013
1472        Enoteca ""Al Brindisi""               2015
1473         Enoteca ""da Massimo""               2015
1704       Enoteca Il Violino Rosso               2015

     cdata_e_ora_inserimento  cidentificatore_in_openstreetmap  clongitudine  \
64      2012-01-24T14:30:04Z                        1603586163      7.713993
493     2014-04-01T11:15:38Z                        2758108717      9.171033
1000    2013-04-15T08:41:22Z                        1659350138     11.418507
1472    2015-03-31T17:33:38Z                        1249699754     11.620326
1473    2015-03-31T17:33:38Z                        1249701207     11.619559
1704    2015-08-20T13:12:56Z                        3706561154     10.591535

      clatitudine
64      45.065174
493     45.450819
1000    45.653453
1472    44.835890
1473    44.834824
1704    43.566210

In [14]:
"""    
    quante attivit√† ci sono in Lazio e Abruzzo assieme?
"""

print(df[(df["cregione"] == "Lazio")| (df["cregione"] == "Abruzzo")])

                  ccomune cprovincia cregione                cnome  \
1782        Acquapendente    VITERBO    Lazio         Franco Marlo
1783              Bolsena    VITERBO    Lazio
1784              Bolsena    VITERBO    Lazio
1785              Bolsena    VITERBO    Lazio                 fidA
1786              Bolsena    VITERBO    Lazio         La Piazzetta
...                   ...        ...      ...                  ...
2080  Francavilla al Mare     CHIETI  Abruzzo       Siren's Corner
2081  Francavilla al Mare     CHIETI  Abruzzo        Stozza'n'Beer
2082  Francavilla al Mare     CHIETI  Abruzzo  The Underground Pub
2083         Guardiagrele     CHIETI  Abruzzo         Red Lion Pub
2084                Vasto     CHIETI  Abruzzo         The Docker's

      canno_inserimento cdata_e_ora_inserimento  \
1782               2012    2012-04-27T10:50:40Z
1783               2012    2012-07-18T17:13:33Z
1784               2013    2013-09-27T10:20:00Z
1785               2012    2012-07-20T15:48:35Z
1786               2012    2012-07-18T17:25:31Z
...                 ...                     ...
2080               2013    2013-06-12T12:28:21Z
2081               2010    2010-09-07T11:58:00Z
2082               2010    2010-09-07T11:32:25Z
2083               2014    2014-03-02T21:08:55Z
2084               2009    2009-12-21T22:37:58Z

      cidentificatore_in_openstreetmap  clongitudine  clatitudine
1782                        1732840994     11.869609    42.742706
1783                        1829916160     11.985684    42.645958
1784                        1832162224     11.988868    42.643434
1785                        1832162262     11.986700    42.644716
1786                        1829932139     11.984931    42.645479
...                                ...           ...          ...
2080                         432860145     14.292539    42.420173
2081                         900745172     14.253499    42.443996
2082                         900708826     14.263974    42.436560
2083                        2696457476     14.219121    42.197113
2084                         597890782     14.708508    42.115895

[237 rows x 9 columns]

In [16]:
"""
    Il dataset insurance.csv dei beginner_datasets contiene dati su caratteristiche e abitudini delle persone rispetto ai costi individuali per le cure
    mediche come premio per le assicurazioni sulla salute. 
    ‚Ä¢ Visualizziamone le dimensioni, un'anteprima, e osserviamo i nomi di colonna; 
    ‚Ä¢ Quali sono le medie di charges rispetto a region? Ci sono differenze significative? 
    ‚Ä¢ E rispetto a smoker? E a sex? 
    ‚Ä¢ Quali sono i descrittori statistici di bmi? 
"""    



df = pd.read_csv('insurance.csv')  
print(df.shape)
print(df.sample())
print("Nomi delle colonne:", df.columns)
print("Medie charges groupby region",df.groupby('region')['charges'].mean())
print("Medie di charges groupby smoker:",df.groupby('smoker')['charges'].mean() )
medie_per_sex = df.groupby('sex')['charges'].mean()
print("Medie di charges groupby sex:", df.groupby('sex')['charges'].mean())
desc_bmi = df['bmi'].describe()
print(f"Descrittori bmi: {desc_bmi}")

(1338, 7)
     age     sex   bmi  children smoker     region  charges
810   46  female  30.8         3     no  southwest  9414.92
Nomi delle colonne: Index(['age', 'sex', 'bmi', 'children', 'smoker', 'region', 'charges'], dtype='object')
Medie charges groupby region region
northeast    13406.384516
northwest    12417.575374
southeast    14735.411438
southwest    12346.937377
Name: charges, dtype: float64
Medie di charges groupby smoker: smoker
no      8434.268298
yes    32050.231832
Name: charges, dtype: float64
Medie di charges groupby sex: sex
female    12569.578844
male      13956.751178
Name: charges, dtype: float64
Descrittori bmi: count    1338.000000
mean       30.663397
std         6.098187
min        15.960000
25%        26.296250
50%        30.400000
75%        34.693750
max        53.130000
Name: bmi, dtype: float64

In [21]:
df = pd.read_csv('iris.csv')  
print(df.shape)
print(df.sample(),"\n")
"""
    ‚Ä¢ La media della lunghezza dei petali di tutto il dataset 
    ‚Ä¢ La media della lunghezza dei petali per ogni specie di Iris, utilizzando il metodo .groupby() 
    ‚Ä¢ Media, minimo e massimo della larghezza dei sepali per ogni specie, utilizzando .groupby() e .agg()
"""    
print(f"Media lunghezza petali : {df['petal_length'].mean():.2f}", )
print("\nMedia della lunghezza petali per specie:\n", df.groupby('species')['petal_length'].mean())
print("\nStatistiche larghezza sepali per ogni specie di Iris: \n",df.groupby('species')['sepal_width'].agg(['mean', 'min', 'max']))

(150, 5)
    sepal_length  sepal_width  petal_length  petal_width          species
60           5.0          2.0           3.5          1.0  Iris-versicolor

Media lunghezza petali : 3.76

Media della lunghezza petali per specie:
 species
Iris-setosa        1.464
Iris-versicolor    4.260
Iris-virginica     5.552
Name: petal_length, dtype: float64

Statistiche larghezza sepali per ogni specie di Iris:
                   mean  min  max
species
Iris-setosa      3.418  2.3  4.4
Iris-versicolor  2.770  2.0  3.4
Iris-virginica   2.974  2.2  3.8

In [24]:
"""
    Nei beginner_datasets, il dataset wine.csv contiene delle analisi organolettiche su diverse qualit√† di vini: 
    ‚Ä¢ Qual √® la media di concentrazione alcolica per ogni qualit√†? Ci sono differenze? E rispetto alla media totale? ‚Ä¢
    C'√® differenza nella concentrazione alcolica per vini bianchi e vini rossi? ‚Ä¢ Rifacendo le analisi delle domande precedenti ma per il pH, cambia qualcosa? 
    ‚Ä¢ E per i solfati?
"""

df = pd.read_csv('wine.csv')
print(df.head())
print("\nMedia concentrazione alcolica per qualit√†:\n",df.groupby('quality')['alcohol'].mean())
print("\nMedia concentrazione alcolica:", df['alcohol'].mean())
print(f"Media concentrazione alcolica per bianchi e rossi: \n {df.groupby('type')['alcohol'].mean()}")
print("\nMedia pH per qualit√†:\n", df.groupby('quality')['pH'].mean())
print("\nMedia pH:\n", df['pH'].mean())
print("\nMedia di solfati per qualit√†:\n", df.groupby('quality')['sulphates'].mean())
print("\nMedia totale di solfati:\n", df['sulphates'].mean())

   fixed acidity  volatile acidity  citric acid  residual sugar  chlorides  \
0            7.4              0.70         0.00             1.9      0.076
1            7.8              0.88         0.00             2.6      0.098
2            7.8              0.76         0.04             2.3      0.092
3           11.2              0.28         0.56             1.9      0.075
4            7.4              0.70         0.00             1.9      0.076

   free sulfur dioxide  total sulfur dioxide  density    pH  sulphates  \
0                 11.0                  34.0   0.9978  3.51       0.56
1                 25.0                  67.0   0.9968  3.20       0.68
2                 15.0                  54.0   0.9970  3.26       0.65
3                 17.0                  60.0   0.9980  3.16       0.58
4                 11.0                  34.0   0.9978  3.51       0.56

   alcohol  quality type
0      9.4        5  red
1      9.8        5  red
2      9.8        5  red
3      9.8        6  red
4      9.4        5  red

Media concentrazione alcolica per qualit√†:
 quality
3    10.215000
4    10.180093
5     9.837783
6    10.587553
7    11.386006
8    11.678756
9    12.180000
Name: alcohol, dtype: float64

Media concentrazione alcolica: 10.491800831149453
Media concentrazione alcolica per bianchi e rossi:
 type
red      10.422983
white    10.514267
Name: alcohol, dtype: float64

Media pH per qualit√†:
 quality
3    3.257667
4    3.231620
5    3.212189
6    3.217726
7    3.228072
8    3.223212
9    3.308000
Name: pH, dtype: float64

Media pH:
 3.2185008465445586

Media di solfati per qualit√†:
 quality
3    0.506333
4    0.505648
5    0.526403
6    0.532549
7    0.547025
8    0.512487
9    0.466000
Name: sulphates, dtype: float64

Media totale di solfati:
 0.5312682776666154

In [26]:
"""
    Nei beginner_datasets, il file boston.csv contiene il Boston Housing Dataset, che deriva dalle informazioni raccolte dal 
    Census Service degli Stati Uniti sulle abitazioni nell'area di Boston. 
"""    

df = pd.read_csv('boston.csv')
"""
    ‚Ä¢ La media del prezzo delle case cambia a seconda della distanza dal fiume Charles?
"""
print(df.groupby('chas')['medv'].mean())

chas
0    22.093843
1    28.440000
Name: medv, dtype: float64

In [28]:
"""
Si nota una correlazione tra il tasso di criminalit√† e il valore delle abitazioni? 
"""
print(df['crim'].corr(df['medv']))

-0.38830460858681143

In [31]:

"""
    Qual √® la media del numero di stanze rispetto al rapporto alunni-insegnanti? E del valore delle case? 
"""

print(df[['rm', 'ptratio']].mean())

print( "\n", df['rm'].corr(df['medv']))

rm          6.284634
ptratio    18.455534
dtype: float64

 0.6953599470715393

In [35]:
"""
    ‚Ä¢ Rispetto all'accessibilit√† alle autostrade, cambia qualcosa la media delle et√† delle abitazioni? E del numero di stanze? E delle tasse?
"""

print(df.groupby('rad')[['age', 'rm', 'tax']].mean())

           age        rm         tax
rad
1    45.025000  6.555850  291.450000
2    64.770833  6.649958  260.666667
3    49.310526  6.473026  246.078947
4    60.841818  6.133118  335.981818
5    69.223478  6.393157  331.843478
6    60.142308  6.104731  372.884615
7    40.141176  6.647765  304.411765
8    67.350000  6.950792  301.250000
24   89.805303  6.022152  666.000000

In [36]:
employees_df = pd.DataFrame({
    'employee_id': [101, 102, 103, 104, 105],
    'name': ['Alice', 'Bob', 'Charlie', 'David', 'Emma'],
    'department_id': [1, 2, 1, 2, 3]
})

departments_df = pd.DataFrame({
    'department_id': [1, 2, 3],
    'department_name': ['HR', 'IT', 'Finance'],
    'location': ['New York', 'San Francisco', 'Chicago']
})
"""
    ‚Ä¢ Unire questi DataFrame in base alla colonna comune department_id, in modo da avere nel risultato informazioni sia 
      sui dipendenti che sui dipartimenti, usando la funzione .merge()
"""
print( pd.merge(employees_df, departments_df, on='department_id'))

   employee_id     name  department_id department_name       location
0          101    Alice              1              HR       New York
1          102      Bob              2              IT  San Francisco
2          103  Charlie              1              HR       New York
3          104    David              2              IT  San Francisco
4          105     Emma              3         Finance        Chicago

In [37]:
""" 
    ‚Ä¢ Per ogni DataFrame, trasformare la colonna department_id nell'indice, facendo in modo che la modifica sia permanente; 
    poi unire i due dataset mediante il metodo .join()
"""

employees_df.set_index('department_id', inplace=True)
departments_df.set_index('department_id', inplace=True)

print(employees_df.join(departments_df, how='inner'))

               employee_id     name department_name       location
department_id
1                      101    Alice              HR       New York
2                      102      Bob              IT  San Francisco
1                      103  Charlie              HR       New York
2                      104    David              IT  San Francisco
3                      105     Emma         Finance        Chicago

In [46]:
"""
    ‚Ä¢ Dal database AdventureWorksDW importiamo le tabelle dimemployee e dimemployeesalesterritory come DataFrame 
    ‚Ä¢ Effettuiamo un join tra i due DataFrame usando le colonne EmployeeKey 
    ‚Ä¢ Controlliamo la dimensione del DataFrame risultante: √® quella attesa? 
    ‚Ä¢ Importiamo ora la tabella dimsalesterritory ed effettuiamo un join tra questa e il DataFrame risultante della join precedente, usando le colonne SalesTerritoryKey 
"""


import dotenv
import os
from sqlalchemy import create_engine

dotenv.load_dotenv(override= True)

username = os.getenv("username")
password = os.getenv("password")
host = os.getenv("host")
dbname = os.getenv("dbname")

conn_string = f"mysql+pymysql://{username}:{password}@{host}/{dbname}"
db_engine = create_engine(conn_string)
query = 'SELECT * FROM dimemployee'
query2 = 'SELECT * FROM dimemployeesalesterritory'
query3= 'SELECT * FROM dimsalesterritory'

dimemployee = pd.read_sql(query,db_engine)
dimemployeesalesterritory = pd.read_sql(query2, db_engine)
dimsalesterritory = pd.read_sql(query3, db_engine)

db_engine.dispose()

In [55]:
merged = pd.merge(dimemployee, dimemployeesalesterritory, on='EmployeeKey')
print(merged.shape)

(39, 29)

In [56]:
merged = pd.merge(merged,dimsalesterritory, on="SalesTerritoryKey")

In [58]:
print(merged.shape)

(39, 34)

In [61]:
"""
    ‚Ä¢ Su questo DataFrame contare quanti dipendenti ci sono per ogni paese (country) e per ogni regione (region)
"""
print(merged.groupby(['SalesTerritoryCountry', 'SalesTerritoryRegion']).size())

SalesTerritoryCountry  SalesTerritoryRegion
Australia              Australia               3
Canada                 Canada                  4
France                 France                  4
Germany                Germany                 3
United Kingdom         United Kingdom          3
United States          Central                 5
                       Northeast               3
                       Northwest               5
                       Southeast               4
                       Southwest               5
dtype: int64

In [63]:
print(merged.groupby('SalesTerritoryCountry')['BaseRate'].mean())

SalesTerritoryCountry
Australia         47.764433
Canada            41.592550
France            41.592550
Germany           47.764433
United Kingdom    47.764433
United States     39.909309
Name: BaseRate, dtype: float64